#profile-banner {
  padding: 50px 0;
  // background-color: #19600a;
  background-color: #a7bca2;
  margin-top: 38px;

  .container {
    margin-top: 0;
  }
}

.profile {
  display: flex;
  gap: 40px;
  align-content: center;
  align-items: center;

  &-avatar {
    width: 16%;
    border-radius: 8px;
    margin-left: 100px;
  }
}


.content-name {
  gap: 20px;
}

.underline {
  text-decoration: underline;
}
