<h1>All issues</h1>
<%= link_to "Add new issue", new_issue_path %>

<ul>
  <% @issues.each do |issue| %>
    <%= link_to issue_path(issue) do  %>
      <li>
        <%= issue.title %>
        <%= issue.description %>
      </li>
    <% end %>
  <% end %>
</ul>
