<div class="banner" id="profile-banner">
  <div class="container profile">
    <%= image_tag current_user.github_avatar_url || "avataaars.png", class: "profile-avatar", alt: "User image" %>
    <div class="profile-infos">
      <h1>@<%= current_user.github_username %></h1>
      <p><%= current_user.github_name %></p>
      <span class="d-flex align-items-baseline gap-2">
        <i class="fa-solid fa-location-dot text-center fs-5 text-white"></i>
        <p class="text-center text-white"><%= current_user.github_location %></p>
      </span>
    </div>
  </div>
</div>
