<% content_for :form_title do %>Reset Password<% end %>
<%= render "devise/shared/auth_layout" do %>
  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name)) do |f| %>
    <div class="form-inputs mb-3">
      <%= f.input :email, required: true, input_html: { autocomplete: "email", class: "form-control" } %>
    </div>
    <%= f.button :submit, "Reset Password", class: "btn btn-lp btn-block w-100" %>
  <% end %>
<% end %>

