.banner {
  background-color: #6E8885;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 115px 5px; // Adjusted padding for better responsiveness
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 120px; // Increased the gap for more space between content and image

  &-content {
    flex: 1; // Takes available space
    max-width: 600px; // Limits text width for better readability
  }

  &-image {
    background: none;
    background-color:#0056B3;
    width: 400px; // Adjust image size
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: none;
    margin-left: 80px; // Add margin to create more space between image and content
  }

  h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 44px;
    font-weight: bold;
  }

  p {
    font-size: 24px;
    color: white;
    opacity: 0.7;
    text-shadow: 1px 5px 3px rgba(0, 0, 0, 0.2);
    max-width: 500px; // Ensures paragraph doesn't stretch too much
  }

  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;
    padding: 100px 20px;

    &-image {
      width: 100%;
      max-width: 300px;
      margin-left: 0; // Remove margin for smaller screens
    }
  }
}




