.banner {
  background-size: cover;
<<<<<<< HEAD
  background-repeat: center;
  padding: 180px 0;
=======
  background-position: center;
  padding: 200px 0;
>>>>>>> b02c209bbdbb693f2b690b4c17d8ea4f5dc30697
  border-radius: 20px;

  & h1 {
    margin: 0;
    color: white;
<<<<<<< HEAD
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
=======
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
>>>>>>> b02c209bbdbb693f2b690b4c17d8ea4f5dc30697
    font-size: 44px;
    font-weight: bold;
  }

  & p {
    font-size: 24px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}
