.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 8px;

  &-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin: 16px;
  }

  & h3 {
    font-size: 16px;
    margin: 0;
  }

  & h4 {
    font-size: 18px;
    font-weight: bold;
  }

  & p {
    font-size: 16px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 4px;
  }

  &-infos {
    padding: 16px 24px 16px 16px;
    flex-grow: 1;
  }
}

.link {
  text-decoration: none;
  color: black;
}
