.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 8px;

<<<<<<< HEAD
  &:hover {
    background: linear-gradient(135deg, #f7f7f7 0%, #e0e0e0 100%);
    transition: background 0.4s ease-in-out;
    cursor: pointer;
  }

=======
>>>>>>> b02c209bbdbb693f2b690b4c17d8ea4f5dc30697
  &-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin: 16px;
  }

  & h3 {
    font-size: 16px;
    margin: 0;
  }

  & h4 {
    font-size: 18px;
    font-weight: bold;
  }

  & p {
    font-size: 16px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 4px;
  }

  &-infos {
    padding: 16px 24px 16px 16px;
    flex-grow: 1;
  }
}

.link {
  text-decoration: none;
  color: black;
}
<<<<<<< HEAD


// .card-product:hover {
//   background: #f5f5f5;
//   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
//   transform: scale(1.02);
// }
=======
>>>>>>> b02c209bbdbb693f2b690b4c17d8ea4f5dc30697
