.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-nav .nav-item {
  margin-right: -2px; 
}

.navbar-nav .nav-item:not(:last-child) {
  margin-right: 25px; 
  padding: 0%;
}



.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .navbar-brand {
  font-size: 22px;
}

.navbar-nav {
  gap: 4px

}

#warning {
  margin-right: 16px;
}
.nav-link {
 margin-right: -16px;
}

btn btn-primary {
  border-radius: 60;
}

.container-fluid {
  padding-right: 50px;
  padding-left: 50px;
}
